.navbar{
    display: flex;
    justify-content: space-between;
    background-color:  #121212;
    height: 70px;
}
.navElements{
    margin: 0 40px;
}

.navElements ul{
    list-style: none;
    display: flex;
    background-color:  #121212;
    gap: 60px;
    margin: 20px;
}

.navElements ul a{
    color: white;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
}